<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cotizacion -->
      <package
            uri="http:///cotizacion.ecore"
            class="cotizacion.cotizacionPackage"
            genModel="model/cotizacion.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cotizacion -->
      <package
            uri="http:///cotizacion/domain.ecore"
            class="cotizacion.domain.DomainPackage"
            genModel="model/cotizacion.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cotizacion -->
      <package
            uri="http:///cotizacion/domain/persona.ecore"
            class="cotizacion.domain.persona.PersonaPackage"
            genModel="model/cotizacion.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cotizacion -->
      <package
            uri="http:///cotizacion/domain/cotizacion.ecore"
            class="cotizacion.domain.cotizacion.CotizacionPackage"
            genModel="model/cotizacion.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cotizacion -->
      <package
            uri="http:///cotizacion/domain/producto.ecore"
            class="cotizacion.domain.producto.ProductoPackage"
            genModel="model/cotizacion.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cotizacion -->
      <package
            uri="http:///cotizacion/ui.ecore"
            class="cotizacion.ui.UiPackage"
            genModel="model/cotizacion.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cotizacion -->
      <package
            uri="http:///cotizacion/ui/viewmodels.ecore"
            class="cotizacion.ui.viewmodels.ViewmodelsPackage"
            genModel="model/cotizacion.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cotizacion -->
      <package
            uri="http:///cotizacion/ui/viewmodels/contenedorclientebaseviewmodel.ecore"
            class="cotizacion.ui.viewmodels.contenedorclientebaseviewmodel.ContenedorclientebaseviewmodelPackage"
            genModel="model/cotizacion.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cotizacion -->
      <package
            uri="http:///cotizacion/ui/viewmodels/contenedortrabajadorbaseviewmodel.ecore"
            class="cotizacion.ui.viewmodels.contenedortrabajadorbaseviewmodel.ContenedortrabajadorbaseviewmodelPackage"
            genModel="model/cotizacion.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cotizacion -->
      <package
            uri="http:///cotizacion/ui/viewmodels/contenedorcotizacionbaseviewmodel.ecore"
            class="cotizacion.ui.viewmodels.contenedorcotizacionbaseviewmodel.ContenedorcotizacionbaseviewmodelPackage"
            genModel="model/cotizacion.genmodel"/>
   </extension>

</plugin>
